/* BASE
   ========================================================================== */

@import "base/i-core-variables";
@import "base/i-colors";
@import "base/i-measures";
@import "base/i-typography";
@import "base/i-breakpoints";

@import "base/normalize";
@import "base/boilerplate";

@import "base/a11y";
@import "base/a11y-components";

/* HELPERS
   ========================================================================== */

// @import "helpers/i-functions";
@import "helpers/i-mixins";
@import "helpers/i-media-queries";


/* LAYOUT
   ========================================================================== */
@import "layout/media-block";
@import "layout/i-layout";
@import "layout/page";

/* ICONS
   ==========================================================================
	TODO: This might be a reason to use CSSit, so that we get the latest and gratest icons
 */
// @import "base/icons";


/* FEATURES
   ========================================================================== */
@import "features/style-guide-button";
@import "features/menu";
@import "features/post";
@import "features/markdown";
@import "features/highlighter";
@import "features/footer";

/* CONTENT
   ========================================================================== */

@import "content/autocomplete";
