.svti_markdown {
	@include svtse_typography-read-normal;

	h1, h2, h3 {
		margin-top: 1em;
	}
	h1:first-child, h2:first-child, h3:first-child {
		margin-top: 0;
	}
	h1 {
		@include svtse_typography-display-normal;
	}
	h2 {
		@include svtse_typography-display-medium1;
	}
	h3 {
		@include svtse_typography-display-small--label;
	}

	p {
		margin: 0.5em 0;
	}

	ul, ol, li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	code {
		padding: 1px 3px;
		font-size: 85%;
		color: $svti_color_code_color;
		background-color: $svti_color_code_background;
		border-radius: 4px;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}

	pre {

		background-color: $svti_color_code_background;
		border-radius: 4px;
		padding: 1em;
		margin: 1em 0;
		display: block;
		overflow-x: auto;
		@include _font-size(15, 18);

		code {

			padding: 0;
			@include svtse_typography-read-small;
			color: $svti_color_code_color;
			background-color: transparent;
			border-radius: 0;
		}
	}




	blockquote {

		@include svtse_typography-read_small;


		border-left: 4px solid $svtse_color-grey-40prc;
		padding: 0.5em 1em;
	}
}
