.svti_menu {
	position: inherit;
	margin: 0;
	padding: $svtse_vertical-divider--small 0;
	min-height: 40px;
	border-bottom: 1px solid $svtse_color-grey-4prc;

	@include svt_mq-gte-small {
		padding-top: $svtse_vertical-divider--small;
		padding-bottom: $svtse_vertical-divider--medium;
	}

	@media print {
		display: none;
	}

	&__area {
		@include svti_content-container--margin();
	}

	&__grid-row {
		@include svtse_grid-row;
	}

	&__logo-column {

		text-align: center;
		@include svt_mq-gte-small {
			text-align: left;
			@include svtse_grid-col-1-of-3;
		}

	}

	&__logo-img {
		max-width: 60px;
		margin: 0 auto;

		@include svt_mq-gte-small {
			max-width: 100px;
			margin: 0;
		}
	}

	&__nav-column {

		@include svt_mq-gte-small {
			@include svtse_grid-col-2-of-3;
		}
	}

	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-image: none;

		li {
			a {
				@include svtse_typography-item-normal1;
			}
			a.active {
				@include svtse_typography-item-normal1--em;
			}
		}

		&__children {

			li {
				display: inline-block;
				margin-left: 2em;
			}
		}
	}
}