.svti_post {

	&__area {
		@include svti_content-container();
	}

	&__grid-row {
		box-sizing: border-box;
		@include svtse_grid-row;
	}

	&__main-column {
		box-sizing: border-box;


		@include svt_mq-small {
			@include svtse_grid-col-2-of-3;
		}

		@include svt_mq-gte-medium {
			@include svtse_grid-col-4-of-5;
		}


	}

	&__secondary-column {
		box-sizing: border-box;
		@include svt_mq-small {
			@include svtse_grid-col-1-of-3;
		}

		@include svt_mq-gte-medium {
			@include svtse_grid-col-1-of-5;
		}
	}

}