<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      {{menu}}
      <ul>
        <li><a href="#">Text</a></li>
        <li><a href="#">Color</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
