
.a11y-accesskeys {
	text-align: center;

	&__link {
		@extend %a11y__hide-visibly;
	}

	&__link-visible {
		@extend %a11y__hide-visibly;
		margin: 0.5em;
		padding: 0.1em 1.5em 0.1em 1.5em;
		display: inline-block;
		color: $svtgp_color-black;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}


		&:active,
		&:focus {
			position: static;
			clip: auto;
			overflow: visible;
			height: auto;
			width: auto;

			@extend %a11y-focus-outline;
		}
	}
}
