// all 'em' measures assumes default font size!

$svtse-grid-gutter-width: 1em;

$svtse-teaser-text-left-spacing: 1em;

//
// Distance between areas and elements
//
// TODO use REM
$svtse-vertical-divider--small: 25px;
$svtse-vertical-divider--medium: 40px;
$svtse-vertical-divider--large: 60px;

/* Lists */
$svtse_ul-ol-leftmargin		: 1.5em;
