.svt_icon {
	font-family:"svt-icons";
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


// Icons


.svt_icon--HD:before {
	content:"\f101";
}


.svt_icon--airplay:before {
	content:"\f102";
}


.svt_icon--angle-curved-left:before {
	content:"\f103";
}


.svt_icon--angle-curved-right:before {
	content:"\f104";
}


.svt_icon--angle-left:before {
	content:"\f105";
}


.svt_icon--angle-right:before {
	content:"\f106";
}


.svt_icon--arrow-down:before {
	content:"\f107";
}


.svt_icon--arrow-left:before {
	content:"\f108";
}


.svt_icon--arrow-right:before {
	content:"\f109";
}


.svt_icon--arrow-up:before {
	content:"\f10a";
}


.svt_icon--backward:before {
	content:"\f10b";
}


.svt_icon--ban:before {
	content:"\f10c";
}


.svt_icon--camera:before {
	content:"\f10d";
}


.svt_icon--caret-down:before {
	content:"\f10e";
}


.svt_icon--caret-left:before {
	content:"\f10f";
}


.svt_icon--caret-right:before {
	content:"\f110";
}


.svt_icon--caret-toggle:before {
	content:"\f111";
}


.svt_icon--caret-up:before {
	content:"\f112";
}


.svt_icon--check:before {
	content:"\f113";
}


.svt_icon--clock:before {
	content:"\f114";
}


.svt_icon--close:before {
	content:"\f115";
}


.svt_icon--cog:before {
	content:"\f116";
}


.svt_icon--comment:before {
	content:"\f117";
}


.svt_icon--comments:before {
	content:"\f118";
}


.svt_icon--days-14:before {
	content:"\f119";
}


.svt_icon--days-30:before {
	content:"\f11a";
}


.svt_icon--days-30plus:before {
	content:"\f11b";
}


.svt_icon--days-365:before {
	content:"\f11c";
}


.svt_icon--days-366:before {
	content:"\f11d";
}


.svt_icon--days-7:before {
	content:"\f11e";
}


.svt_icon--dot-large:before {
	content:"\f11f";
}


.svt_icon--dot:before {
	content:"\f120";
}


.svt_icon--down-circle:before {
	content:"\f121";
}


.svt_icon--download:before {
	content:"\f122";
}


.svt_icon--envelope:before {
	content:"\f123";
}


.svt_icon--facebook-square:before {
	content:"\f124";
}


.svt_icon--facebook:before {
	content:"\f125";
}


.svt_icon--fast-backward:before {
	content:"\f126";
}


.svt_icon--fast-forward:before {
	content:"\f127";
}


.svt_icon--forward:before {
	content:"\f128";
}


.svt_icon--fullscreen:before {
	content:"\f129";
}


.svt_icon--glass:before {
	content:"\f12a";
}


.svt_icon--google-plus-square:before {
	content:"\f12b";
}


.svt_icon--google-plus:before {
	content:"\f12c";
}


.svt_icon--heart:before {
	content:"\f12d";
}


.svt_icon--info:before {
	content:"\f12e";
}


.svt_icon--instagram:before {
	content:"\f12f";
}


.svt_icon--knife-fork:before {
	content:"\f130";
}


.svt_icon--left-circle:before {
	content:"\f131";
}


.svt_icon--link-external:before {
	content:"\f132";
}


.svt_icon--linked:before {
	content:"\f133";
}


.svt_icon--live:before {
	content:"\f134";
}


.svt_icon--mail:before {
	content:"\f135";
}


.svt_icon--menu:before {
	content:"\f136";
}


.svt_icon--minus-circle:before {
	content:"\f137";
}


.svt_icon--minus-square:before {
	content:"\f138";
}


.svt_icon--minus:before {
	content:"\f139";
}


.svt_icon--new-window:before {
	content:"\f13a";
}


.svt_icon--pause:before {
	content:"\f13b";
}


.svt_icon--pen:before {
	content:"\f13c";
}


.svt_icon--phone-ban:before {
	content:"\f13d";
}


.svt_icon--phone:before {
	content:"\f13e";
}


.svt_icon--play-square:before {
	content:"\f13f";
}


.svt_icon--play:before {
	content:"\f140";
}


.svt_icon--plus-circle:before {
	content:"\f141";
}


.svt_icon--plus-square:before {
	content:"\f142";
}


.svt_icon--plus:before {
	content:"\f143";
}


.svt_icon--position:before {
	content:"\f144";
}


.svt_icon--printer:before {
	content:"\f145";
}


.svt_icon--program:before {
	content:"\f146";
}


.svt_icon--question:before {
	content:"\f147";
}


.svt_icon--refresh:before {
	content:"\f148";
}


.svt_icon--remote:before {
	content:"\f149";
}


.svt_icon--replay:before {
	content:"\f14a";
}


.svt_icon--right-circle:before {
	content:"\f14b";
}


.svt_icon--rss:before {
	content:"\f14c";
}


.svt_icon--schedule-compact:before {
	content:"\f14d";
}


.svt_icon--schedule-detailed:before {
	content:"\f14e";
}


.svt_icon--search:before {
	content:"\f14f";
}


.svt_icon--share:before {
	content:"\f150";
}


.svt_icon--sight-square:before {
	content:"\f151";
}


.svt_icon--sight:before {
	content:"\f152";
}


.svt_icon--sign-language-square:before {
	content:"\f153";
}


.svt_icon--sign-language:before {
	content:"\f154";
}


.svt_icon--sound-higher:before {
	content:"\f155";
}


.svt_icon--sound-lower:before {
	content:"\f156";
}


.svt_icon--sound-lowest:before {
	content:"\f157";
}


.svt_icon--sound-off:before {
	content:"\f158";
}


.svt_icon--sound:before {
	content:"\f159";
}


.svt_icon--stop:before {
	content:"\f15a";
}


.svt_icon--svt-play:before {
	content:"\f15b";
}


.svt_icon--text-square:before {
	content:"\f15c";
}


.svt_icon--text:before {
	content:"\f15d";
}


.svt_icon--tv-screen:before {
	content:"\f15e";
}


.svt_icon--twitter-square:before {
	content:"\f15f";
}


.svt_icon--twitter:before {
	content:"\f160";
}


.svt_icon--up-circle:before {
	content:"\f161";
}


.svt_icon--video-new-window:before {
	content:"\f162";
}


.svt_icon--video-window-large:before {
	content:"\f163";
}


.svt_icon--video-window-small:before {
	content:"\f164";
}


.svt_icon--warning:before {
	content:"\f165";
}


.svt_icon--watch:before {
	content:"\f166";
}


.svt_icon--world-ban:before {
	content:"\f167";
}


.svt_icon--world:before {
	content:"\f168";
}
